.table>tbody>tr>td,
.table>tbody>tr>th{
	border-top: none; 
}

#picked_participant_div{
    padding-top:10%;
    font-size: 300px;
}


.beside-sidenav{
    padding-top: 10%;
    padding-left: 260px;
}



.footer{position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}

.overlay{
    background-color:#1c1d26;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}


#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size:400px;
    /*color:#8da;*/
}

#picked_participant{
    color: #2e6da4;
}